CreditScore.module/Schemas/CusomerLeadsResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1535820412952" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1535820412952">
  <complexType name="CusomerLeadsResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="id" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="message" type="string"/>
    </sequence>
  </complexType>
  <element name="CusomerLeadsResponseElement" type="tns:CusomerLeadsResponseElementType"/>
</schema>
