CreditScore.module/Schemas/ExperianResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1535811725848" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1535811725848">
  <complexType name="ExperianResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="fiCOScore" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="rating" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="noOfInquiries" type="integer"/>
    </sequence>
  </complexType>
  <element name="ExperianResponseElement" type="tns:ExperianResponseElementType"/>
</schema>
